@font-face{
font-family: montserra;
src: url(montserra.ttf);
}
header{
border: 1px solid #ddd;
margin: 3px 0px;
text-align: center;
}
header p{
font-family: montserra;
color: #aaa;
}
.container{
border: 1px solid #ddd;
padding: 15px;
box-sizing: border-box;
}
select{
outline: none;
border: none;
position: absolute;
right: 15px;
width: 10%;
color: white;
background-color: steelblue;
padding: 5px;
}
label{
display: block;
margin: 5px;
font-family: montserra;
color: #aaa;
}
input{
width: 15%;
margin: 5px;
padding: 3px;
font-family: montserra;
}
#submitBtn{
outline: none;
border: none;
padding: 7px;
font-family: montserra;
color: white;
background-color: steelblue;
}
div p{
border: 1px solid #ddd;
width: 45%;
height: 55px;
padding: 5px;
font-family: montserra;
}
footer{
border: 1px solid #ddd;
margin: 3px 0px;
text-align: center;
}
footer p{
font-family: montserra;
color: #aaa;
}